body {
  font: 16px/22px Georgia, serif;
}

main {
  margin: 25px auto 0 auto;
  padding: 0 0 0 0;
  max-width: 800px;
}

a, a:active, a:visited {
  color: #6293ba;
  text-decoration: none;
}

a:hover {
  color: #6eacc0;
  text-decoration: underline;
}

figure {
  margin: 0 auto;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

.influence text {
  font: 10px Georgia, serif;
}

.influence .domain {
  stroke: none;
}

.influence .tick line {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 1;
}

.influence.lighter .tick line {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 1;
}