body {
  font: 16px/22px Georgia, serif;
  margin: 25px auto 0 auto;
  padding: 0 0 0 0;
  max-width: 800px;
  position: relative;
}

a, a:active, a:visited {
  color: #6293ba;
  text-decoration: none;
}

a:hover {
  color: #6eacc0;
  text-decoration: underline;
}

p.related {
  margin-bottom: 2px;
}

p.related + p {
  margin-top: 2px;
}

#genre-influential-text span {
  color: rgb(79,74,138);
  font-style: italic;
  border-bottom: 2px solid rgb(236,255,255);
}

.infobox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid silver;
  padding: 1em;
  margin-left: 3em;
}

.infobox span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

figure {
  margin: 0 auto;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

svg text {
  font: 10px Georgia, serif;
}

#influence-arcs .arc,
#influence-timeline .roguelike,
#influence-map .dot {
  fill: rgb(79,74,138);
}

#influence-arcs .arc:focus,
#influence-map .dot:focus,
#influence-timeline .dot:focus {
  outline: 0; /* Tooltip is a better highlight */
}


#influence-map .dot {
  cursor: pointer;
}

#influence-map .dot.legend {
  cursor: initial;
}

#influence-map .dot.active {
  fill: #ecffff;
  stroke: rgb(79,74,138);
  stroke-width: 3;
}

#influence-arcs .legend .line,
#influence-timeline .line {
  stroke: rgb(79,74,138);
}

#influence-timeline .roguelikelike {
  fill: rgb(91,122,175);
}

#influence-timeline .influence.label {
  font-style: italic;
}

.tooltip {
  background: rgba(255,255,255,0.9);
  display: inline-block;
  border: 1px solid gray;
  padding: .5em 1em;
  line-height: initial;
}

.flex {
  display: flex;
}

.flex-250 {
  flex: 0 0 275px;
}

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mt1 {
  margin-top: 1em;
}

.mt2 {
  margin-top: 2em;
}

.ml1 {
  margin-left: 1em;
}

.ml2 {
  margin-left: 2em;
}

.mr1 {
  margin-right: 0.5em;
}

.light {
  color: #acacac;
}

.small {
  font-size: 0.9em;
}

.smaller {
  font-size: 0.75em;
}

.smallerer {
  font-size: 0.6em;
}

.image {
  width: 100%;
}

.right-link {
  padding-right: 1em;
}

.no-link,
.no-link:hover,
.no-link:active,
.no-link:visited {
  color: initial;
  text-decoration: none;
}

.influence .domain {
  stroke: none;
}

.influence .tick line {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 1;
}

.influence.lighter .tick line {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 1;
}

text.annotation {
  stroke: white;
  stroke-width: 2;
  paint-order: stroke;
  fill: black;
}

line.annotation {
  stroke: black;
  stroke-width: 0.5;
}

.words .list {
  padding: 2px 4px;
  background: #ecffff;
}

.highlight {
  color: rgb(79,74,138);
  background: #ecffff;
  padding: 0.5em 1em;
}