body {
  font: 16px/22px Georgia, serif;
  margin: 25px auto 0 auto;
  padding: 0 0 0 0;
  max-width: 800px;
  font-smoothing: antialiased;
  position: relative;
}

a, a:active, a:visited {
  color: #6293ba;
  text-decoration: none;
}

a:hover {
  color: #6eacc0;
  text-decoration: underline;
}

p.related {
  margin-bottom: 2px;
}

p.related + p {
  margin-top: 2px;
}

.suggestion {

}

.infobox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid silver;
  padding: 1em;
  margin-left: 3em;
}

.infobox span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

figure {
  margin: 0 auto;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

svg text {
  font: 10px Georgia, serif;
}

#influence-arcs .arc,
#influence-timeline .roguelike,
#influence-map .dot {
  fill: rgb(79,74,138);
}

#influence-map .dot {
  stroke: rgba(91,122,175,0.8);
  stroke-width: 2;
  cursor: pointer;
}

#influence-map .dot.active {
  fill: #ecffff;
}

#influence-timeline .line {
  stroke: rgb(79,74,138);
}

#influence-timeline .roguelikelike {
  fill: rgb(91,122,175);
}

#influence-timeline .influence.label {
  font-style: italic;
}

.flex {
  display: flex;
}

.flex-250 {
  flex: 0 0 275px;
}

.m0 {
  margin: 0;
}

.ml1 {
  margin-left: 1em;
}

.ml2 {
  margin-left: 2em;
}

.small {
  font-size: 0.9em;
}

.smaller {
  font-size: 0.8em;
}

.image {
  width: 100%;
}

.right-link {
  padding-right: 1em;
}

.influence .domain {
  stroke: none;
}

.influence .tick line {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 1;
}

.influence.lighter .tick line {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 1;
}

text.annotation {
  stroke: white;
  stroke-width: 2;
  paint-order: stroke;
  fill: black;
}

line.annotation {
  stroke: white;
  stroke-width: 2;
}

.words .list {
  padding: 2px 4px;
  margin-right: 0.5em;
  background: #ecffff;
}